<div class="row">
    <div class="col-xs-6">
       <div class="d-flex text-center justify-content-between">
           <div class="">
               <input type="text" placeholder="search-list" #nameInput>
            </div>
            <div class="">
                <label>shopping list</label>
                <input type="text" #amountInput>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
<div class="row mt-2">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onAddItem()">add</button>
        <button class="btn btn-danger ms-2">edit</button>
        <button class="btn btn-warning ms-2">delete</button>
    </div>
</div>
